@media only screen and (min-width: 0px) {
  header {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
  }
}

/*##############################
||            MAIN            ||
##############################*/
@media only screen and (min-width: 0px) {
  .header-main {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid black;
  }

  .header-main-logo {
    flex: 1;
  }

  .header-main-logo img {
    width: 150px;
  }

  .header-main-search {
    overflow: hidden;
    flex: 3;
    display: flex;
    margin: 0px 20px;
    border: 2px solid grey;
    border-radius: 15px;
  }

  .header-main-search-bar {
    flex: 1;
  }

  .header-main-search-bar input {
    width: 100%;
    padding: 12px 20px;
    border: 0px;
  }

  .header-main-search-bar input:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  .header-main-search-icon {
    background-color: hsl(34, 99%, 70%);
    display: flex;
    align-items: center;
  }

  .header-main-search-icon:hover {
    cursor: pointer;
    background-color: hsl(34, 99%, 60%);
  }

  .header-main-search-icon img {
    width: 40px;
    margin: 0px 6px;
  }

  .header-main-cart {
    flex: 1;
    display: flex;
    justify-content: end;
  }

  .header-main-cart img {
    width: 35px;
  }
}

/*##############################
||         CATEGORIES         ||
##############################*/
@media only screen and (min-width: 0px) {
  .header-categories {
    display: flex;
    font-family: "cal sans";
    text-align: center;
    width: 100%;
    padding: 10px;
  }

  .header-category {
    flex: 1;
    color: inherit;
    text-decoration: none;
    transition: color 0.25s;
    will-change: color;
  }

  .header-category:hover {
    cursor: pointer;
    color: rgb(90, 90, 90);
  }
}
