@media only screen and (min-width: 0px) {
  .home {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/*##############################
||          CAROUSEL          ||
##############################*/
@media only screen and (min-width: 0px) {
  .home-carousel {
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 0px 0px 40px;
  }

  .home-carousel-banner {
    overflow: hidden;
    box-shadow: 5px 5px 10px grey;
  }

  .home-carousel-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 15px;
    width: 100%;
  }

  .home-carousel-dots .dot {
    cursor: pointer;
    background-color: white;
    width: 12px;
    height: 12px;
    border: 2px solid black;
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  .home-carousel-dots .dot.active {
    background-color: black;
  }
}

/*##############################
||          EXPLORE           ||
##############################*/
@media only screen and (min-width: 0px) {
  .home-explore {
    overflow: hidden;
    background-color: grey;
    position: relative;
    height: 700px;
    margin: 10px 0px;
  }

  .home-explore-text {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: "cal sans";
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home-explore-logo {
    width: 400px;
  }

  .home-explore-title {
    color: white;
    font-size: 3em;
    font-weight: 500;
    text-shadow:
      -3px -3px 0 black,
      3px -3px 0 black,
      -3px 3px 0 black,
      3px 3px 0 black;
  }

  .home-explore-button {
    background-color: hsl(34, 99%, 70%);
    color: white;
    font-size: 2em;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 20px;
    transition: background-color 0.25s;
  }

  .home-explore-button:hover {
    background-color: hsl(34, 99%, 60%);
  }

  .home-explore-grid {
    display: grid;
    grid-template-columns: repeat(10, minmax(200px, 1fr));
    position: relative;
    top: -50%;
    filter: brightness(75%);
    transition: transform 0.2s ease-out;
    will-change: transform;
  }

  .home-explore-grid img {
    width: 100%;
    height: 100%;
  }

  .home-explore-grid img:nth-child(2n) {
    transform: translateY(-150px);
  }
}

/*##############################
||          REVIEWS           ||
##############################*/
@media only screen and (min-width: 0px) {
  .home-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
    padding: 0px 50px 50px 50px;
  }

  .home-reviews-title {
    font-family: "cal sans";
    font-size: 2.5em;
  }

  .home-reviews-collection {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .home-review {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .home-review-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "cal sans";
    font-size: 1.5em;
    position: relative;
    width: 100%;
    height: 200px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
  }

  .home-review-text::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 20px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  .home-review-avatar img {
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 700px) {
  .home-reviews {
    padding: 50px 50px 100px 50px;
  }

  .home-reviews-collection {
    flex-direction: row;
  }

  .home-review-text {
    font-size: clamp(10px, 2vw, 1.5em);
  }

  .home-review:nth-child(2n) {
    position: relative;
    top: 50px;
  }
}
