@media only screen and (min-width: 0px) {
  .product-bar {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: -35px;
    padding: 0px 30px;
    height: 490px;
  }

  .product-bar-header {
    display: flex;
    align-items: center;
  }

  .product-bar-title {
    font-family: "cal sans";
    font-size: 2em;
    font-weight: 500;
  }

  .product-bar-more {
    color: inherit;
    font-size: 0.8em;
    text-decoration: underline;
    margin-left: auto;
  }

  .product-bar-more:hover {
    cursor: pointer;
  }

  .product-bar > hr {
    margin-top: 2.5px;
    margin-bottom: 25px;
  }

  .product-bar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 500px;
    gap: 10px;
  }
}
