@media only screen and (min-width: 0px) {
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 60px;
  }

  .product-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
    padding: 0px 30px 30px;
  }

  .product-main > * {
    flex: 1;
  }

  .product-image img {
    width: 500px;
    margin-left: auto;
    box-shadow: 5px 5px 10px grey;
  }

  .product-information {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
  }

  .product-title {
    font-family: "cal sans";
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 10px;
  }

  .product-credits {
    font-weight: 200;
    margin-top: -25px;
  }

  .product-volume {
    color: initial;
    font-weight: 200;
    text-decoration: none;
    width: fit-content;
    margin-top: -12px;
    padding: 0px 10px;
    border: 1px solid black;
    border-radius: 20px;
  }

  .product-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .product-genre-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .product-genre {
    color: initial;
    font-weight: 200;
    text-decoration: none;
    padding: 0px 10px;
    border: 1px solid black;
    border-radius: 20px;
  }

  .product-purchase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: fit-content;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;
  }

  .product-price {
    font-family: "cal sans";
    font-size: 3em;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
  }

  .product-quantity {
    margin-bottom: 5px;
  }

  .product-quantity span {
    margin-right: 5px;
  }

  .product-quantity input {
    padding: 5px;
    text-align: center;
    width: 70px;
    border-radius: 10px;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
  }

  .product-button {
    font-family: "cal sans";
    color: white;
    text-align: center;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px lightgrey;

    user-select: none;
    -webkit-user-select: none;
  }

  .product-button:hover {
    cursor: pointer;
  }

  .product-add-to-cart {
    background-color: hsl(210, 77%, 66%);
  }

  .product-add-to-cart:hover {
    background-color: hsl(214, 100%, 64%);
  }

  .product-buy {
    background-color: hsl(150, 77%, 60%);
    text-decoration: none;
  }

  .product-buy:hover {
    background-color: hsl(170, 60%, 58%);
  }

  .product-series,
  .product-recommend {
    width: 100%;
  }

  .product-series {
    margin-bottom: 20px;
  }

  .product-none {
    font-family: "cal sans";
    font-size: 3em;
    text-align: center;
    padding: 100px;
  }
}

@media only screen and (min-width: 1000px) {
  .product-main {
    flex-direction: row;
    align-items: start;
  }

  .product-image,
  .product-information,
  .product-purchase {
    position: sticky;
    top: 40px;
  }
}
