@media only screen and (min-width: 0px) {
  .search {
    display: flex;
    flex-direction: column;
  }

  .search-title {
    margin: 25px 30px 0px 30px;
  }

  .search-main {
    display: flex;
    align-items: start;
    margin: 25px 30px;
  }

  .search-filter {
    border-right: 1px solid black;
    align-self: stretch;
    overflow: hidden;
    width: 0px;
    transition: width 0.5s;
    will-change: width;
  }

  .search-filter.opened {
    width: 200px;
  }

  .filter-title {
    font-size: 1.25em;
    font-family: "cal sans";
  }

  .search-filter-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    padding-right: 35px;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  .search-filter-sort {
    display: flex;
    flex-direction: column;
  }

  #sort {
    padding: 2px 5px;
  }

  .search-filter-genre-boxes {
    display: flex;
    flex-direction: column;
  }

  .search-filter-price-inputs {
    display: flex;
    gap: 10px;
  }

  .search-filter-price-inputs > input {
    width: 70px;
    padding: 2px 5px;
  }

  .search-filter-toggle {
    background-color: white;
    position: sticky;
    transform: translate(-50%, 0%);
    top: 50px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 50%;
    transition: filter 0.25s;
    will-change: filter;
  }

  .search-filter-toggle:hover {
    cursor: pointer;
    filter: invert();
  }

  .search-filter-toggle img {
    width: 25px;
  }

  .search-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }

  .search-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "cal sans";
    padding-bottom: 20px;
  }

  .search-pagination button {
    width: 100px;
    padding: 5px 10px;
  }
}
