@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* fonts: "roboto" "cal sans" */

body {
  display: flex;
  flex-direction: column;
  font-family: "roboto", Arial;
  font-size: 16px;
}

.loading {
  font-size: 5em;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

fieldset {
  border: none;
}